extends layout

block content
  br
  h2.pl-3 Proyectos
  hr
  
  if projects.length != 0
    .container
      .list-group
        each project in projects
          //- a Bienvenido de vuelta #{user.username} Toma el user name que fue mandado desde el controlador de usuarios
          a.list-group-item.list-group-item-action.flex-column.align-items-start(href="/projects/" + project.id)
            .d-flex.w-100.justify-content-between
              h5.mb-1 #{project.name}
              small #{project.startDate}
            p.mb-1
              | #{project.description}
      br
      a.btn.btn-primary(href='/newProject', role='button') Nuevo proyecto
      br
      br
      br
      br
      br
                
  
