doctype html
html(dir='ltr', lang='en')
	head
		meta(charset='utf-8')
		link(rel='icon', href='https://www.bbintegrations.com/images/bbsymbol.png')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
		title B&B
	body
		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			a.navbar-brand(href='#')
				img(src='https://www.bbintegrations.com/images/bbsymbol.png', alt='', width='30', height='30')
			a.navbar-brand(href='../') B&B Scrum
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarNav.collapse.navbar-collapse
				ul.navbar-nav
					li.nav-item
						a.nav-link(href='/') Proyectos
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
				.btn-group
					// Current session
					- if (true)
						button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Opciones
					- else
						button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
					.dropdown-menu.dropdown-menu-right
						a.dropdown-item(href='/profile') Mi Perfil
						a.dropdown-item(href='/') Proyectos
						a.dropdown-item(href='#') Acerca De
						.dropdown-divider
						a.dropdown-item(href='../LoginSignup/logout') Cerrar Sesion
		script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')

block content
script(src='/javascripts/dist/vue.js')
script(src='/javascripts/app/main.js')
