doctype html
html
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet prefetch', href='http://fonts.googleapis.com/css?family=Open+Sans:600')
    link(rel='stylesheet', href='/stylesheets/stylelogin.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/stylesocialnet.css')  
    
  body
    block content
      
    
