extends layoutlog
block content

    div(id='wrapper')
      div(class='prueba')
        div(class='login-html')
          input(id='tab-1', type='radio', name='tab', class='sign-in', checked)
          label(for='tab-1', class='tab') Iniciar sesion
          input(id='tab-2', type='radio', name='tab', class='sign-up')
          label(for='tab-2', class='tab') Registrarme
          div(class='login-form')
            form(action='/LoginSignup/login', method='POST')
              div(class='sign-in-htm')
                div(class='group')
                  label(for='username', class='label') Usuario
                  input(id='username', name='username', type='text', class='input')
                div(class='group')
                  label(for='password', class='label') Contraseña
                  input(id='password', name='password', type='password', class='input', data-type='password')
                div(class='group')
                  input(id='inisesion', type='submit', class='button', value='Entrar')
                div(class='foot-lnk')
                  a(href='#forgot') Olvide mi contraseña
                div(class='hr')
                div(class='group')
                  div(class='social-btns')
                    a(class='btn dropbox', href='/LoginSignup/dropbox')
                      i(class='fa fa-dropbox')
                    a(class='btn twitter', href='/LoginSignup/twitter')
                      i(class='fa fa-twitter')
                    a(class='btn google', href='/LoginSignup/google')
                      i(class='fa fa-google')
                    a(class='btn skype', href='#')
                      i(class='fa fa-skype')
            form(action='/LoginSignup/', method='POST')
              div(class='sign-up-htm')
                div(class='group')
                  label(for='name', class='label') Nombre
                  input(id='name', name='name', type='text', class='input')
                div(class='group')
                  label(for='lastName', class='label') Apellido
                  input(id='lastName', name='lastName', type='text', class='input')
                div(class='group')
                  label(for='username', class='label') Usuario
                  input(id='username', name='username', type='text', class='input')
                div(class='group')
                  label(for='email', class='label') Correo electronico
                  input(id='email', name='email', type='email', class='input', data-type='email')
                div(class='group')
                  label(for='password', class='label') Contraseña
                  input(id='password', name='password', type='password', class='input', data-type='password')
                div(class='group')
                  input(id='regis', type='submit', class='button', value='Registrarme')
                div(class='hr')
