extends layout
block content
  
  div
    .col.col-md-6
    .col.col-md-auto
      form(action='/create', method='POST')
        h1 Nuevo Proyecto
        .form-row
          .form-group.col-md-6
            label(for='name') Nombre del proyecto
            input#inputEmail4.form-control(name='name', type='text', placeholder='Proyecto 1')
          .form-group.col-md-6
            label(for='requestDate') Fecha de solicitud:
            input#inputPassword4.form-control(name='requestDate', type='date', placeholder='23 septiembre 2018')
        .form-row
          .form-group.col-md-6
            label(for='startDate') Fecha de arranque:
            input#inputAddress.form-control(name='startDate', type='date', placeholder='02 octubre 2018')
          .form-group.col-md-6
            label(for='description') Descripción:
            input#inputAddress2.form-control(name='description', type='text', rows="5", cols="30", placeholder='Escriba una descripción')
        .form-row
          .form-group.col-md-6
            label(for='scrumMaster') Scrum master:
            input#inputAddress.form-control( name='scrumMaster', type='text', placeholder='Manager del proyecto')
          .form-group.col-md-6
            label(for='productOwner') Product owner:
            input#inputAddress2.form-control( name='productOwner', type='text', placeholder='Owner del proyecto ')
        .form-row
          .form-group.col-md-6
            label Equipo de desarrollo involucrado:
            each user in users
              .form-check
                input#exampleCheck1.form-check-input(type='checkbox')
                label.form-check-label(for='team' name='team') #{user.name}
                br
        br 
        button.btn.btn-primary(type='submit') Guardar
    .col.col-md-6
