extends layout
block content
  
    div
      .col.col-md-6
      .col.col-md-auto
        form
          h1 Información Personal
          .form-row
            .form-group.col-md-6
              label(for='inputEmail4') Nombre Completo
              input#inputEmail4.form-control(type='text', placeholder='Carolina Carranza')
            .form-group.col-md-6
              label(for='inputPassword4') Fecha de Nacimiento
              input#inputPassword4.form-control(type='text', placeholder='07 agosto 1996')
          .form-row
            .form-group.col-md-6
              label(for='inputAddress') Dirección
              input#inputAddress.form-control(type='text', placeholder='Zaragoza 108')
            .form-group.col-md-6
              label(for='inputAddress2') Correo
              input#inputAddress2.form-control(type='email', data-type='email', placeholder='admin@admin')
          .form-row
            .form-group.col-md-6
              label(for='inputAddress') CURP
              input#inputAddress.form-control(type='text', placeholder='CARM960807MCHRYR05')
            .form-group.col-md-6
              label(for='inputAddress2') RFC
              input#inputAddress2.form-control(type='text', placeholder='CARM960807EI2')
          .form-row
            .form-group.col-md-6
              label(for='inputCity') Lista de habilidades
              input#inputCity.form-control(type='text', placeholder='Programador Java')
            .form-group.col-md-4
              label(for='inputState') Nivel
              select#inputState.form-control
                option(selected='') Seleccionar nivel..
                option Junior
                option Senior
                option Master
            .form-group.col-md-2
              label(for='inputadd') ¿Más habilidades?
              button#inputZip.form-control Agregar 
          br 
          button.btn.btn-primary(type='submit') Guardar
      .col.col-md-6
