extends layout

block content
  #memberModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='memberModal', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Luis Anchondo
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          | Correo:
          br
          | Fecha de nacimiento: 
          br
          | Rol en el proyecto:
          br
          br
          | Habilidades:
        .modal-footer
          button.btn.btn-primary(type='button', data-dismiss='modal') Cerrar
          
  #selectTasksModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='selectTasksModal', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Selecciona las tareas para este Release
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          .form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='exampleCheck1') Tarea 1
          br
          .form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='exampleCheck1') Tarea 2
          br
          .form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='exampleCheck1') Tarea 3
          br
          .form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='exampleCheck1') Tarea 4
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
          button.btn.btn-primary(type='button') Agregar
          
  #createRelease.modal.fade(tabindex='-1', role='dialog', aria-labelledby='createRelease', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        form(method='POST' action='/release/' + project.id)
          .modal-header
            h5.modal-title Crear Release
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .form-group
              label(for='description') Descripcion:
              textarea.form-control(rows='3', placeholder='Descripcion del release' name='description')
            label(for='exampleInputEmail1') Selecciona las tareas que conformaran el release:
            br
            each task in tasks
              .form-check
                input#exampleCheck1.form-check-input(type='checkbox')
                label.form-check-label(name = 'Task') #{task.narrative}
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
            button.btn.btn-primary(type='submit') Agregar
            button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
          
  #createTask.modal.fade(tabindex='-1', role='dialog', aria-labelledby='createRelease', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        form(method='POST' action='/task/' + project.id)
          .modal-header
            h5.modal-title Crear Tarea
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
              .form-group
                label(for='narrative') Narrativa de la historia:
                input.form-control(name='narrative' placeholder='Nombre', type='text')
              .form-group
                label(for='priority') Prioridad:
                input.form-control(name='priority' placeholder='Prioridad', type='number')
              .form-group
                label(for='asRole') Como
                input.form-control(name='asRole' placeholder='Rol', type='text')
              .form-group
                label(for='size') Tamaño:
                input.form-control(name='size' placeholder='Tamaño', type='number')
              .form-group
                label(for='want') Quiero:
                input.form-control(name='want' placeholder='Características', type='text')
              .form-group
                label(for='suchWay') De tal manera:
                input.form-control(name='suchWay' placeholder='Beneficio', type='text')
              .form-group
                label(for='criteria') Criterios de aceptación:
                input.form-control(name='criteria' placeholder='Nombre', type='text')
              .form-group
                label(for='dice') Dado:
                input.form-control(name='dice' placeholder='No alcanzo a leer', type='text')
              .form-group
                label(for='when') Cuando:
                input.form-control(name='when' placeholder='No alcanzo a leer', type='text')
              .form-group
                label(for='so') Entonces:
                input.form-control(name='so' placeholder='No alcanzo a leer', type='text')      
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
            button.btn.btn-primary(type='submit') Agregar
            button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
            
  .modal.fade.bd-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          h5#exampleModalCenterTitle.modal-title Tarjeta
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form
            .form-group.row
              label.col-sm-4.col-form-label
                b
                 | Narrativa de la historia
              .col-sm-4
                label#staticEmail.form-control-plaintext Mariel Carolina Carranza Reyes
              label.col-sm-2.col-form-label 
                b
                  | Prioridad
              .col-sm-2
                label#staticEmail.form-control-plaintext 5
            .form-group.row
              label.col-sm-4.col-form-label
                b
                 | Como
              .col-sm-4
                label#staticEmail.form-control-plaintext Programadora
              label.col-sm-2.col-form-label 
                b
                  | Tamaño
              .col-sm-2
                label#staticEmail.form-control-plaintext 10
            .form-group.row
              label.col-sm-4.col-form-label 
                b
                  | Quiero
              .col-sm-8
                label#staticEmail.form-control-plaintext Hacer un login
            .form-group.row
              label.col-sm-4.col-form-label 
                b
                  | De tal manera
              .col-sm-8
                label#staticEmail.form-control-plaintext Que el proyecto tenga una forma de limitar el acceso
            .form-group.row
              label.col-sm-4.col-form-label 
                b
                  | Criterios de aceptación
              .col-sm-8
                label#staticEmail.form-control-plaintext Javier Sanchez Armendariz
            .form-group.row
              label.col-sm-4.col-form-label 
                b
                  | Dado
              .col-sm-8
                label#staticEmail.form-control-plaintext No alcanzo a leer
            .form-group.row
              label.col-sm-4.col-form-label 
                b
                  | Cuando
              .col-sm-8
                label#staticEmail.form-control-plaintext No alcanzo a leer
            .form-group.row
              label.col-sm-4.col-form-label 
                b
                  | Entonces
              .col-sm-8
                label#staticEmail.form-control-plaintext No alcanzo a leer
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
          button.btn.btn-primary(type='button') Modificar
          button.btn.btn-danger(type='button') Eliminar

  br
  h2.pl-3 #{project.name}
  hr
  h4.pl-3 Miembros:
  .col
    button.list-group-item.list-group-item-action(type='button', data-toggle='modal', data-target='#memberModal') #{project.team}
    br
    ul.nav.nav-pills
      li.active
        button.btn.btn-primary.pl-3(type='button', data-toggle='modal', data-target='#createRelease') Crear Release
      li.ml-4
        button.btn.btn-primary.pl-3(type='button', data-toggle='modal', data-target='#createTask') Crear Tarea

  .container
  .row.row-centered
    .col-sm
    .col-md.rounded(style = 'background-color: #FAFAFA')
      br
      h3(style='text-align: center;') Product Backlog
      br
      each task in tasks
        .card.mx-auto(style='width: 18rem;')
          .card-body
            h5.card-title #{task.narrative}
            h6.card-subtitle.mb-2.text-muted Prioridad: #{task.priority}
            h6.card-subtitle.mb-2.text-muted Tamaño: #{task.size}
            a.card-link(href='#', data-toggle='modal', data-target='.bd-example-modal-lg') Ver Tarjeta
            a.card-link(href='#') Agregar a Release
      
    .col-md.rounded(style = 'background-color: #FAFAFA')
      br
      h3(style = 'text-align: center;') Release Backlog
      br
      each release in releases
        .card.mx-auto(style='width: 18rem;')
          .card-body
            - var i = 0;
            h5.card-title Release #{i}
            - i++;
            h6.card-subtitle.mb-2.text-muted #{release.description}
            a.card-link(href='#') Ver Release
    .col-sm
  canvas#myChart.my-4.chartjs-render-monitor(width='1486', height='627', style='display: block; width: 1486px; height: 627px;')
    
