extends layout

block content
  br
  h2.pl-3 Release Backlog
  br
  h2.pl-5
   button.btn.btn-primary(type='submit') Crear Sprint Backlog
  .container
    br
    .list-group
    a.list-group-item.list-group-item-action.flex-column.align-items-start(href='#')
      .d-flex.w-100.justify-content-between
        h5.mb-1 Sprint Backlog 1
        small 3 days ago
      p.mb-1
        | Ejemplo
    a.list-group-item.list-group-item-action.flex-column.align-items-start(href='#')
      .d-flex.w-100.justify-content-between
        h5.mb-1 Sprint Backlog 2.
        small 5 days ago
      p.mb-1
        | Ejemplo
    a.list-group-item.list-group-item-action.flex-column.align-items-start(href='#')
      .d-flex.w-100.justify-content-between
        h5.mb-1 Sprint Backlog 3.
        small 6 days ago
      p.mb-1
        | Ejemplo.
