extends layout
block content

  .modal.fade.bd-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          h5#exampleModalCenterTitle.modal-title Tarjeta
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form
            .form-group.row
              label.col-sm-4.col-form-label
                b
                 | Narrativa de la historia
              .col-sm-4
                label#staticEmail.form-control-plaintext Mariel Carolina Carranza Reyes
              label.col-sm-2.col-form-label 
                b
                  | Prioridad
              .col-sm-2
                label#staticEmail.form-control-plaintext 5
            .form-group.row
              label.col-sm-4.col-form-label
                b
                 | Como
              .col-sm-4
                label#staticEmail.form-control-plaintext Programadora
              label.col-sm-2.col-form-label 
                b
                  | Tamaño
              .col-sm-2
                label#staticEmail.form-control-plaintext 10
            .form-group.row
              label.col-sm-4.col-form-label 
                b
                  | Quiero
              .col-sm-8
                label#staticEmail.form-control-plaintext Hacer un login
            .form-group.row
              label.col-sm-4.col-form-label 
                b
                  | De tal manera
              .col-sm-8
                label#staticEmail.form-control-plaintext Que el proyecto tenga una forma de limitar el acceso
            .form-group.row
              label.col-sm-4.col-form-label 
                b
                  | Criterios de aceptación
              .col-sm-8
                label#staticEmail.form-control-plaintext Javier Sanchez Armendariz
            .form-group.row
              label.col-sm-4.col-form-label 
                b
                  | Dado
              .col-sm-8
                label#staticEmail.form-control-plaintext No alcanzo a leer
            .form-group.row
              label.col-sm-4.col-form-label 
                b
                  | Cuando
              .col-sm-8
                label#staticEmail.form-control-plaintext No alcanzo a leer
            .form-group.row
              label.col-sm-4.col-form-label 
                b
                  | Entonces
              .col-sm-8
                label#staticEmail.form-control-plaintext No alcanzo a leer
        .modal-footer
          button.btn.btn-primary(type='button') Modificar
          button.btn.btn-danger(type='button') Eliminar

  br
  h2.pl-3 Sprint Backlog
  hr
  h4.pl-3 Nombre del Proyecto
  br
  br
  br
  .container
  .row.row.row.row-centered
    .col-sm
    .col-md.rounded(style = 'background-color: #F5BCA9')
      br
      h3(style = 'text-align: center;') Por Hacer
      br
      .card.mx-auto(style='width: 16rem;')
        .card-body
          h5.card-title Tarea
          h6.card-subtitle.mb-2.text-muted Creada por...
          p.card-text
            | Descripcion de la tarea, accion a realizar, etc etc.
          a.card-link(href='#', data-toggle='modal', data-target='.bd-example-modal-lg') Ver Tarjeta
      .card.mx-auto(style='width: 16rem;')
        .card-body
          h5.card-title Tarea
          h6.card-subtitle.mb-2.text-muted Creada por...
          p.card-text
            | Descripcion de la tarea, accion a realizar, etc etc.
          a.card-link(href='#') Ver Tarjeta
        .card.mx-auto(style='width: 16rem;')
          .card-body
            h5.card-title Tarea
            h6.card-subtitle.mb-2.text-muted Creada por...
            p.card-text
              | Descripcion de la tarea, accion a realizar, etc etc.
            a.card-link(href='#', data-toggle='modal', data-target='.bd-example-modal-lg') Ver Tarjeta
        .card.mx-auto(style='width: 16rem;')
          .card-body
            h5.card-title Tarea
            h6.card-subtitle.mb-2.text-muted Creada por...
            p.card-text
              | Descripcion de la tarea, accion a realizar, etc etc.
            a.card-link(href='#', data-toggle='modal', data-target='.bd-example-modal-lg') Ver Tarjeta
    .col-auto
    
    .col-md.rounded(style = 'background-color: #A9D0F5')
      br
      h3(style = 'text-align: center;') En Progreso
      br
      
      .card.mx-auto(style='width: 16rem;')
        .card-body
          h5.card-title Tarea
          h6.card-subtitle.mb-2.text-muted Creada por...
          p.card-text
            | Descripcion de la tarea, accion a realizar, etc etc.
          a.card-link(href='#', data-toggle='modal', data-target='.bd-example-modal-lg') Ver Tarjeta
    .col-auto
    
    .col-md.rounded(style = 'background-color: #F3F781')
      br
      h3(style = 'text-align: center;') Revisión
      br
      .card.mx-auto(style='width: 16rem;')
        .card-body
          h5.card-title Tarea
          h6.card-subtitle.mb-2.text-muted Creada por...
          p.card-text
            | Descripcion de la tarea, accion a realizar, etc etc.
          a.card-link(href='#') Ver Tarjeta
      .card.mx-auto(style='width: 16rem;')
        .card-body
          h5.card-title Tarea
          h6.card-subtitle.mb-2.text-muted Creada por...
          p.card-text
            | Descripcion de la tarea, accion a realizar, etc etc.
          a.card-link(href='#', data-toggle='modal', data-target='.bd-example-modal-lg') Ver Tarjeta
    .col-auto
    
    .col-md.rounded(style = 'background-color: #A9F5A9')
      br
      h3(style = 'text-align: center;') Terminado
      br
      .card.mx-auto(style='width: 16rem;')
        .card-body
          h5.card-title Tarea
          h6.card-subtitle.mb-2.text-muted Creada por...
          p.card-text
            | Descripcion de la tarea, accion a realizar, etc etc.
          a.card-link(href='#', data-toggle='modal', data-target='.bd-example-modal-lg') Ver Tarjeta
      .card.mx-auto(style='width: 16rem;')
        .card-body
          h5.card-title Tarea
          h6.card-subtitle.mb-2.text-muted Creada por...
          p.card-text
            | Descripcion de la tarea, accion a realizar, etc etc.
          a.card-link(href='#', data-toggle='modal', data-target='.bd-example-modal-lg') Ver Tarjeta
    .col-sm
